.cross-button {
    position: relative;
    border-radius: var(--border-radius-small);

    @include reset-button;
    @include square(3.125em);
    @include flex-center;
    border: 2px solid var(--color-accent-alt);
    background-color: var(--color-accent);
    transition: background-color var(--transition-duration);
    cursor: pointer;
    box-shadow: 0 0 22px rgba(109, 196, 255, 0.85) ;

    @include hover {
        background-color: var(--color-accent-alt);
    }

    :where(&:not(:has(> img))) {
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: .15rem;
            width: 90%;
            height: .2rem;
            background-color: var(--color-light);
            border-radius: 5px;
        }

        &::before {

            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    @include tablet {
        @include square(2.5em);
    }
}