.divider {
    position: relative;
    width: 100%;
    height: 15em;
    background-image: url("../images/divider/line-bg.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    overflow: hidden;

    @include tablet {
        height: 5.81em;
        background-size: auto 100%;
    }
}

.divider__wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 70px;
}

.divider__item {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    max-height: 100%;
    user-select: none;
    pointer-events: none;

    picture {
        position: relative;
        display: flex;
        align-items: center;
        width: max-content;
        height: 100%;
    }

    img {
        max-width: 100%;
        height: 80%;
    }
}