.mobile-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        position: absolute;
        right: 0;
        top: -4.5rem;
        display: flex;
        justify-content: end;

        @include tablet {
            top: -3.2rem;
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}