.popup {
    position: relative;
    padding: 3.75rem;
    border: 0.1rem solid var(--color-light);
    background-color: var(--color-blue-dark);
    background-image: linear-gradient(180deg, rgba(16, 27, 118, 0.00) 0%, rgba(16, 27, 118, 0.60) 33.45%, #101B76 111.14%);
    background-size: 100% 500%;
    background-position: 0 0;
    border-radius: 1.88rem;
    width: 90%;
    max-width: 62.375rem;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(180deg, rgba(16, 27, 118, 0.00) 0%, rgba(16, 27, 118, 0.60) 33.45%, #101B76 111.14%);
        mask-image: url("../images/hero/pattern.png");
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-size: cover;
    }

    @include tablet {
        padding: 1.88rem;
        border-radius: 1.25rem;
    }

    .error_message {
        display: none;
        font-size: 0.875rem;
        padding: 0.5em 0.9rem;
        color: #ff0000;
        background-color: rgba(246, 122, 122, 0.5);
        border-radius: var(--border-radius-small);
        border: .1rem solid #ff0000;
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;

        &.show {
            display: block;

        }
    }
}

.popup__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.popup__content h3 {
    color: var(--color-light);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.0625rem;
    text-align: center;
    margin: 0 0 0.3em;

    @include tablet {
        font-size: 1.5rem;
    }
}

.popup__content p {
    color: var(--color-light);
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    @include tablet {
        font-size: 1rem;
    }
}

.popup__content button {
    margin: 0 auto;
    box-shadow: 0 0 1.2rem 0 rgba(99, 255, 42, 0.85);
}

.popup__register {
    max-width: 30.8125rem;

    h3 {
        margin-bottom: 2rem;
    }
}

.popup__hints {
    max-width: 87.5rem;
    background-color: var(--color-blue-dark);
    background-image: linear-gradient(90deg, #101B76 0%, rgba(16, 27, 118, 0.60) 10.45%, rgba(16, 27, 118, 0.00) 90%);
    background-size: 40% 100%;
    background-position: -10% 0;
    background-repeat: no-repeat;

    @include tablet {
        background-image: linear-gradient(0deg, #101B76 0%, rgba(16, 27, 118, 0.60) 10.45%, rgba(16, 27, 118, 0.00) 90%);
        background-size: 100% 40%;
        background-position: 0% 110%;
    }
}

.popup__hints-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3.75rem;
    z-index: 2;

    @include tablet {
        flex-direction: column;
        gap: 1.25rem;
    }
}
.popup__hints-video {
    width: 21.5rem;
    height: 21.5rem;
    max-width: 21.5rem;
    max-height: 21.5rem;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include tablet {
        width: 18.125rem;
        height: 18.125rem;
    }
}

.popup__hints-title {
    color: var(--color-light);
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    margin-bottom: 2rem;

    @include tablet {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

.popup__hints-text {
    color: var(--color-light);
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;

    @include tablet {
        font-size: 1rem;
    }
}