@import 'normalize', 'fonts', 'mixins', 'media', 'variables', 'utils', 'globals';

@import 'blocks/select';
@import 'blocks/button';
@import 'blocks/form';
@import 'blocks/burger-button';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/divider';
@import 'blocks/quiz';
@import 'blocks/prizes';
@import 'blocks/winners';
@import 'blocks/popup';
@import 'blocks/cross-button';
@import 'blocks/mobile-overlay';