@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #010632;
  --color-dark-alt: #292A32;
  --color-blue-dark: #020521;
  --color-light: #FFFFFF;
  --color-accent: #14A0FF;
  --color-accent-alt: #6DC4FF;
  --color-green: #48C61A;
  --color-green-alt: #63FF2A;
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;
  --border: 0.1em solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 0.38em;
  --border-radius-large: 45px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: "Gilroy", sans-serif;
  --font-base-size: 4.102564102564103vw;
  --container-width: 108rem;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 57px;
  --button-height: 61px;
  --transition-duration: 0.2s ;
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  :root {
    --font-base-size: 0.8333333333333334vw;
  }
}
@media screen and (min-width: 1920px) {
  :root {
    --font-base-size: 16px;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.hidden {
  opacity: 0;
}

html {
  font-size: var(--font-base-size);
}

body {
  font-family: var(--font-family-base);
  font-weight: 600;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-blue-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.ux-select__clear {
  display: none !important;
}
.ux-select__head::after {
  background: var(--color-light);
  mask-image: var(--uxs-dropdown-image);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 1.4em 3.3em;
}
@media (max-width: 767px) {
  .ux-select__head::after {
    margin-left: 0.22em;
    mask-size: 1.2em 3em;
  }
}

.ux-select-group__list {
  background-color: var(--color-accent);
}
.ux-select-group__elem {
  justify-content: center !important;
  text-align: center;
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .ux-select-group__elem:hover {
    background-color: var(--color-accent-alt) !important;
  }
}
@media (hover: none) {
  .ux-select-group__elem:active {
    background-color: var(--color-accent-alt) !important;
  }
}
.ux-select-group__elem::after {
  content: initial !important;
}
.ux-select-group__elem:not(.-disabled).-selected {
  background-color: var(--color-accent-alt);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  padding-inline: 1.875em;
  font-size: 1.25em;
  color: var(--color-light);
  background-color: var(--color-green);
  border: var(--border);
  border-color: var(--color-green-alt);
  border-radius: var(--border-radius);
  text-transform: uppercase;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-green-alt);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-green-alt);
    color: var(--color-light);
  }
}
.button--transparent {
  color: var(--color-dark);
  background-color: transparent;
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

.form__register {
  display: flex;
  flex-direction: column;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  margin-bottom: 0.88rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.form__group label {
  color: var(--color-light);
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.0625rem;
}
.form__group input {
  font-weight: 600;
  padding: 1.25rem;
  height: 3.5625rem;
  font-size: 1.5rem;
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 0.1rem solid var(--color-light);
  color: var(--color-light);
}
.form__group input::placeholder {
  color: var(--color-light);
  opacity: 0.5;
}
.form__group input:focus {
  outline: none;
}
@media (max-width: 767px) {
  .form__group {
    gap: 0.7rem;
  }
  .form__group label {
    font-size: 1.25rem;
  }
  .form__group input {
    padding: 1rem;
    font-size: 1rem;
  }
  .form__group input::placeholder {
    font-size: 1rem;
  }
}

.form__info {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  color: var(--color-light);
  margin-bottom: 3.13rem;
}
@media (max-width: 767px) {
  .form__info {
    font-size: 0.75rem;
  }
}

.form__register .button {
  width: 100%;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.header {
  position: relative;
  background-color: var(--color-dark);
  padding: 1.63em 6em;
  z-index: 10;
}
@media (max-width: 767px) {
  .header {
    padding: 1.25em 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 10.5em;
  height: 2.29688em;
}
.header__logo img {
  width: 100%;
}
@media (max-width: 767px) {
  .header__logo {
    width: 8.75em;
    height: 1.91406em;
  }
}
.header__language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 2.6875em;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 700;
  box-shadow: 0 0 22px 0 rgba(109, 196, 255, 0.85);
  border: 2px solid var(--color-accent-alt);
}
@media (max-width: 767px) {
  .header__language {
    font-size: 0.875em;
    height: 2.125em;
  }
}

.hero {
  position: relative;
  width: 100%;
  background-image: image-set(url("../images/hero/hero-bg.webp") 1x type("image/webp"), url("../images/hero/hero-bg@2x.webp") 2x type("image/webp"), url("../images/hero/hero-bg.jpg") 1x, url("../images/hero/hero-bg@2x.jpg") 2x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% center;
  z-index: 1;
}
@media (max-width: 767px) {
  .hero {
    background-image: image-set(url("../images/hero/hero-bg-xs.jpg") 1x type("image/webp"), url("../images/hero/hero-bg-xs@2x.jpg") 2x type("image/webp"), url("../images/hero/hero-bg-xs.jpg") 1x, url("../images/hero/hero-bg-xs@2x.jpg") 2x);
    min-height: 49em;
    display: flex;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  background-image: image-set(url("../images/hero/pattern.webp") type("image/webp"), url("../images/hero/pattern.png"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0;
  mask-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  mask-size: 100%;
  z-index: 2;
}
@media (max-width: 767px) {
  .hero::before {
    display: none;
  }
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(270deg, rgba(2, 5, 33, 0) 0%, rgba(2, 5, 33, 0.6) 33.45%, #020521 111.14%), linear-gradient(270deg, rgba(5, 11, 63, 0) 0%, rgba(5, 11, 63, 0.6) 33.45%, #050B3F 111.14%);
  mix-blend-mode: multiply;
  z-index: 1;
}
@media (max-width: 767px) {
  .hero::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero .container {
    flex: 1;
  }
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-bottom: 4.75em;
  z-index: 2;
}
.hero__content-text {
  flex-shrink: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .hero__content {
    width: 100%;
    height: 100%;
    padding-bottom: 3.25em;
    padding-top: 0.44em;
  }
}

.hero__logo {
  position: relative;
  width: min(53vh, 100%);
  height: min(53vh, 100%);
  aspect-ratio: 1;
  pointer-events: none;
  user-select: none;
  flex-shrink: 1;
}
@media (max-width: 767px) {
  .hero__logo {
    width: min(13em, 100%);
    height: min(13em, 100%);
  }
}
.hero__logo::before {
  content: "";
  position: absolute;
  inset: -40%;
  mask-image: url("../images/hero/logo-light.png");
  mask-position: 0 0;
  mask-size: 100% 100%;
  background-color: #3178f2;
  z-index: -1;
}
@media (max-width: 767px) {
  .hero__logo::before {
    background-color: #933EE6;
  }
}
.hero__logo img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
}

.hero__title {
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.88em;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 1em;
    margin-bottom: 1em;
  }
}

.hero__button {
  padding-inline: 3.2rem;
  border-radius: 0;
  line-height: 1.1;
  height: 5.0625rem;
  font-size: 2.25rem;
  border: 0.125rem solid var(--color-green-alt);
  text-transform: uppercase;
  box-shadow: 0 0 1.375rem 0 rgba(99, 255, 42, 0.85);
}
@media (max-width: 767px) {
  .hero__button {
    padding-inline: 1.5rem;
    height: 3.325rem;
    font-size: 1.5rem;
  }
}

.divider {
  position: relative;
  width: 100%;
  height: 15em;
  background-image: url("../images/divider/line-bg.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 767px) {
  .divider {
    height: 5.81em;
    background-size: auto 100%;
  }
}

.divider__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 70px;
}

.divider__item {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  max-height: 100%;
  user-select: none;
  pointer-events: none;
}
.divider__item picture {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  height: 100%;
}
.divider__item img {
  max-width: 100%;
  height: 80%;
}

a.divider__item {
  pointer-events: auto;
}

.quiz {
  padding: 60px 0;
  background-image: image-set(url("../images/quiz/quiz-bg.webp") 1x type("image/webp"), url("../images/quiz/quiz-bg@2x.webp") 2x type("image/webp"), url("../images/quiz/quiz-bg.png") 1x, url("../images/quiz/quiz-bg@2x.png") 2x);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.quiz__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .quiz__wrapper-slider {
    display: contents;
  }
  .quiz__wrapper-slider .swiper.js-quiz-wrapper-slider {
    display: contents;
  }
  .quiz__wrapper-slider .swiper.js-quiz-wrapper-slider > .swiper-wrapper {
    display: contents;
  }
  .quiz__wrapper-slider .swiper.js-quiz-wrapper-slider > .swiper-wrapper > .swiper-slide {
    display: contents;
  }
}
@media (max-width: 767px) {
  .quiz__wrapper-slider {
    width: 100%;
  }
  .quiz__wrapper-slider .swiper {
    width: 100%;
  }
  .quiz__wrapper-slider .swiper-wrapper {
    height: auto;
  }
  .quiz__wrapper-slider .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: initial;
  }
}

.quiz__screen {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--color-blue-dark);
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, rgba(16, 27, 118, 0.6) 33.45%, #101B76 111.14%);
  background-size: 100% 300%;
  background-position: 0 0;
  overflow: hidden;
  z-index: -2;
  position: relative;
}
.quiz__screen:before {
  content: "";
  display: block;
  padding-top: 59.375%;
}
@supports (aspect-ratio: 1/1) {
  .quiz__screen {
    aspect-ratio: 1.6842105263;
  }
}
.quiz__screen::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, rgba(16, 27, 118, 0.6) 33.45%, #101B76 111.14%);
  mask-image: url("../images/hero/pattern.png");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: cover;
}
@media (max-width: 767px) {
  .quiz__screen {
    position: relative;
  }
  .quiz__screen:before {
    content: "";
    display: block;
    padding-top: 176.2803234501%;
  }
  @supports (aspect-ratio: 1/1) {
    .quiz__screen {
      aspect-ratio: 0.5672782875;
    }
  }
}

.quiz__screen-content {
  position: relative;
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
@media (max-width: 767px) {
  .quiz__screen-content {
    padding: 1.19rem;
  }
}

.quiz__screen-content h3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .quiz__screen-content h3 {
    font-size: 1rem;
  }
}

.quiz__screen-content .button {
  box-shadow: 0 0 0.875rem 0 rgba(99, 255, 42, 0.85);
}
@media (max-width: 767px) {
  .quiz__screen-content .button {
    width: 100%;
    padding-inline: 1.375em;
  }
}

.quiz__test {
  position: relative;
  width: 74%;
  padding: 9% 6.3% 9%;
  position: relative;
  z-index: 2;
}
.quiz__test:before {
  content: "";
  display: block;
  padding-top: 71.2403100775%;
}
@supports (aspect-ratio: 1/1) {
  .quiz__test {
    aspect-ratio: 1.4036996736;
  }
}
.quiz__test::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: image-set(url("../images/quiz/frame.webp") 1x type("image/webp"), url("../images/quiz/frame@2x.webp") 2x type("image/webp"), url("../images/quiz/frame.png") 1x, url("../images/quiz/frame@2x.png") 2x);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
@media (max-width: 767px) {
  .quiz__test {
    width: 100%;
    padding: 12% 7.2% 12%;
    position: relative;
  }
  .quiz__test:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @supports (aspect-ratio: 1/1) {
    .quiz__test {
      aspect-ratio: 1.7777777778;
    }
  }
  .quiz__test::before {
    background-image: image-set(url("../images/quiz/frame-mob.webp") 1x type("image/webp"), url("../images/quiz/frame-mob@2x.webp") 2x type("image/webp"), url("../images/quiz/frame-mob.png") 1x, url("../images/quiz/frame-mob@2x.png") 2x);
  }
}

.quiz__test-slider {
  position: relative;
  width: 100%;
  z-index: -2;
}

.quiz__video {
  position: relative;
  z-index: -2;
  position: relative;
}
.quiz__video:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@supports (aspect-ratio: 1/1) {
  .quiz__video {
    aspect-ratio: 1.7777777778;
  }
}
@media (max-width: 767px) {
  .quiz__video {
    display: block;
    position: relative;
  }
  .quiz__video:before {
    content: "";
    display: block;
    padding-top: 177.7777777778%;
  }
  @supports (aspect-ratio: 1/1) {
    .quiz__video {
      aspect-ratio: 0.5625;
    }
  }
}

.quiz__timer {
  position: absolute;
  bottom: 3%;
  left: 50%;
  display: flex;
  align-items: center;
  font-size: 4.5rem;
  transform: translateX(-50%);
  font-variant-numeric: tabular-nums;
}
@media (max-width: 767px) {
  .quiz__timer {
    bottom: -0.1%;
    font-size: 1.78413em;
  }
}

.quiz__hints {
  position: relative;
  width: 100%;
  margin-bottom: 0.8125rem;
}

.quiz__hints-half,
.quiz__hints-call {
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  width: 5.8125rem;
  height: 3.125rem;
  transform: translateY(-50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (hover: hover) {
  .quiz__hints-half:not(:disabled):hover,
  .quiz__hints-call:not(:disabled):hover {
    transform: translateY(-100%) scale(0.9);
  }
}
@media (hover: none) {
  .quiz__hints-half:not(:disabled):active,
  .quiz__hints-call:not(:disabled):active {
    transform: translateY(-100%) scale(0.9);
  }
}
.quiz__hints-half.-used,
.quiz__hints-call.-used {
  pointer-events: none;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .quiz__hints-half,
  .quiz__hints-call {
    width: 3.25rem;
    height: 1.9375rem;
    transform: translateY(-100%);
  }
}

.quiz__hints-half {
  left: -5rem;
  background-image: url("../images/svg/50-50-icon.svg");
}
@media (max-width: 767px) {
  .quiz__hints-half {
    left: 1rem;
  }
}

.quiz__hints-call {
  right: -5rem;
  background-image: url("../images/svg/call-icon.svg");
}
@media (max-width: 767px) {
  .quiz__hints-call {
    right: 1rem;
  }
}

.quiz__question {
  position: absolute;
  width: 70%;
  left: 15%;
  right: 15%;
  bottom: 0;
  z-index: 3;
}
@media (max-width: 767px) {
  .quiz__question {
    width: 96%;
    left: 2%;
    right: 2%;
  }
}

.quiz__question-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.38rem;
  background-image: url("../images/svg/question-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font-size: 1.5em;
  padding: 0 3.56rem;
  vertical-align: middle;
  text-align: center;
  user-select: none;
}
.quiz__question-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 0.1rem;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
  z-index: -1;
}
@media (max-width: 767px) {
  .quiz__question-top {
    font-size: 0.8125rem;
    padding: 0 2.1rem;
    height: 3.875rem;
    background-image: url("../images/svg/question-bg-mob.svg");
  }
}

.quiz__answers {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.75rem;
  grid-column-gap: 1.56rem;
  padding: 1.13rem 2.69rem;
}
@media (min-width: 768px) {
  .quiz__answers::before, .quiz__answers::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 200%;
    height: 0.1rem;
    background-color: var(--color-light);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .quiz__answers::before {
    top: 29%;
  }
  .quiz__answers::after {
    top: 71%;
  }
}
@media (max-width: 767px) {
  .quiz__answers {
    grid-template-columns: 1fr;
    grid-row-gap: 0.35rem;
    padding: 1.1rem 1rem 1rem;
  }
}

.quiz__answers-item {
  padding: 0;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  height: 3.1875rem;
  padding-left: 2.31rem;
  user-select: none;
  cursor: default;
  --accepted-opacity: 0;
}
.quiz__answers-item::before, .quiz__answers-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  pointer-events: none;
}
.quiz__answers-item::before {
  background-image: url("../images/svg/answer-bg.svg");
}
.quiz__answers-item::after {
  background-image: url("../images/svg/answer-bg-accepted.svg");
  opacity: 0;
}
.quiz__answers-item > * {
  position: relative;
  z-index: 1;
}
.quiz__answers-item.-selected::before {
  background-image: url("../images/svg/answer-bg-selected.svg");
}
.quiz__answers-item.-selected:not(:disabled):hover::before {
  background-image: url("../images/svg/answer-bg-selected.svg");
}
.quiz__answers-item:not(:disabled):not(.-selected):hover::before {
  background-image: url("../images/svg/answer-bg-hover.svg");
}
.quiz__answers-item:disabled {
  cursor: default;
  pointer-events: none;
}
.quiz__answers-item.-accepted {
  animation: accepted 2s forwards;
}
@media (max-width: 767px) {
  .quiz__answers-item {
    height: 2.81rem;
  }
  .quiz__answers-item::before {
    background-image: url("../images/svg/answer-bg-mob.svg");
    background-size: 100% 100%;
  }
  .quiz__answers-item::after {
    background-image: url("../images/svg/answer-bg-accepted-mob.svg");
    background-size: 100% 100%;
  }
  .quiz__answers-item:not(:disabled):not(.-selected):hover::before {
    background-image: url("../images/svg/answer-bg-hover-mob.svg");
  }
  .quiz__answers-item.-selected::before {
    background-image: url("../images/svg/answer-bg-selected-mob.svg");
  }
}
.quiz__answers-item::after {
  opacity: var(--accepted-opacity);
}
.quiz__answers-item.-accepted {
  animation: accepted 2s forwards;
}

@keyframes accepted {
  0%, 20%, 40%, 60%, 80%, 100% {
    --accepted-opacity: 1;
  }
  10%, 30%, 50%, 70%, 90% {
    --accepted-opacity: 0;
  }
}
.quiz__answers-item span {
  font-weight: 600;
}
.quiz__answers-item span:first-child {
  margin-right: 0.31rem;
  color: #FADD9E;
  text-transform: uppercase;
}

.quiz__answers-text {
  color: var(--color-light);
  transition: opacity var(--transition-duration);
}

.quiz__steps {
  position: relative;
  width: 22%;
  padding: 2.1% 1.8%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.quiz__steps:before {
  content: "";
  display: block;
  padding-top: 180.6615776081%;
}
@supports (aspect-ratio: 1/1) {
  .quiz__steps {
    aspect-ratio: 0.5535211268;
  }
}
.quiz__steps::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: image-set(url("../images/quiz/frame-2.png") 1x, url("../images/quiz/frame-2@2x.png") 2x, url("../images/quiz/frame-2.webp") 1x type("image/webp"), url("../images/quiz/frame-2@2x.webp") 2x type("image/webp"));
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 2;
}
@media (max-width: 767px) {
  .quiz__steps {
    width: 100%;
    padding: 4.5% 8.1%;
    vertical-align: middle;
    align-self: center;
    position: relative;
  }
  .quiz__steps:before {
    content: "";
    display: block;
    padding-top: 155.9459459459%;
  }
  @supports (aspect-ratio: 1/1) {
    .quiz__steps {
      aspect-ratio: 0.6412478336;
    }
  }
  .quiz__steps::before {
    background-image: image-set(url("../images/quiz/frame-2-mob.webp") 1x type("image/webp"), url("../images/quiz/frame-2-mob@2x.webp") 2x type("image/webp"), url("../images/quiz/frame-2-mob.png") 1x, url("../images/quiz/frame-2-mob@2x.png") 2x);
  }
}

.quiz__steps-inner {
  position: relative;
  width: 100%;
  background-color: var(--color-blue-dark);
  border-radius: 10px;
  z-index: 0;
}
.quiz__steps-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, rgba(16, 27, 118, 0.6) 33.45%, #101B76 111.14%);
  pointer-events: none;
  z-index: 1;
}
.quiz__steps-inner::after {
  content: "";
  position: absolute;
  inset: 0;
  mask-image: url("../images/svg/pattern-small.svg");
  mask-position: 50% 68%;
  mask-size: 228%;
  mask-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, var(--color-accent) 111.14%);
  pointer-events: none;
  z-index: 1;
}

.quiz__steps-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding: 10% 0;
  height: 100%;
  z-index: 2;
}
@media (max-width: 767px) {
  .quiz__steps-list {
    padding: 10% 0;
    gap: 0.35rem;
  }
}

.quiz__steps-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem 2.7rem;
  opacity: 0.8;
  transition: background-image var(--transition-duration);
}
@media (max-width: 767px) {
  .quiz__steps-item {
    padding: 0.75em 2.7em;
  }
}
.quiz__steps-item span:first-child {
  position: relative;
  font-size: 1.35rem;
  font-weight: 700;
}
.quiz__steps-item span:first-child::after {
  content: "";
  position: relative;
  display: inline-block;
  margin-left: 0.4em;
  width: 0.4em;
  height: 0.4em;
  background-color: var(--color-light);
  transform: rotate(45deg);
  margin-bottom: 0.15em;
}
@media (max-width: 767px) {
  .quiz__steps-item span:first-child {
    font-size: 0.875rem;
  }
}
.quiz__steps-item span:last-child {
  font-size: 1.15rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .quiz__steps-item span:last-child {
    font-size: 0.875rem;
  }
}

.quiz__steps-item.active {
  background-image: url("../images/svg/step-active.svg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
}

.prizes {
  position: relative;
  background-color: var(--color-blue-dark);
  z-index: 0;
}
.prizes::before {
  content: "";
  position: absolute;
  top: -33em;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(1, 4, 32, 0) 0%, rgba(1, 4, 32, 0.6) 10.53%, #010420 32.76%);
  z-index: 0;
}
.prizes::after {
  content: "";
  position: absolute;
  top: -33em;
  right: 0;
  bottom: 0;
  left: 0;
  mask-image: url("../images/hero/pattern.png");
  mask-position: center center;
  mask-size: cover;
  mask-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(5, 11, 63, 0) 0%, rgba(5, 11, 63, 0.6) 13.53%, #050B3F 24.01%, #050B3F 87.48%, rgba(5, 11, 63, 0) 97.48%);
}
.prizes__inner {
  position: relative;
  padding: 5.1875em 0;
  z-index: 1;
}

.prizes__title {
  font-size: 4.375em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
@media (max-width: 767px) {
  .prizes__title {
    font-size: 1.875rem;
  }
}

.prizes__items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
@media (max-width: 767px) {
  .prizes__items {
    flex-direction: column;
    padding-bottom: 2em;
    overflow: hidden;
  }
}

.prizes__row {
  display: contents;
}
@media (max-width: 767px) {
  .prizes__row {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.prizes__item {
  position: absolute;
  width: 27.1875em;
}
.prizes__item::after {
  position: absolute;
  left: 50%;
  bottom: 7%;
  width: 60%;
  font-size: 0.75em;
  text-align: center;
  transform: translate(-50%, 50%);
  user-select: none;
}
@media (max-width: 767px) {
  .prizes__item {
    position: relative;
    width: 17em;
  }
}

.prizes__item.main {
  position: relative;
  width: 51.56919em;
}
.prizes__item.main .prizes__item.main-text {
  font-size: 0.75rem;
}
.prizes__item.main::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  width: 60%;
  background-color: #E5AF34;
  aspect-ratio: 1;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  filter: blur(4.375em);
}
@media (max-width: 767px) {
  .prizes__item.main {
    width: 22.56919em;
  }
  .prizes__item.main::before {
    width: 65%;
    filter: blur(1.4em);
  }
}

.prize__item:not(.main) {
  position: absolute;
}
.prize__item:not(.main)::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;
  width: 70%;
  background-color: #8552D1;
  aspect-ratio: 1;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  filter: blur(2.5em);
}
@media (max-width: 767px) {
  .prize__item:not(.main) {
    position: initial;
    width: 15em;
  }
  .prize__item:not(.main)::before {
    top: 17%;
    width: 65%;
    filter: blur(1.4em);
  }
}

@media (min-width: 768px) {
  .prizes__item-1::after {
    content: attr(data-title);
    font-size: 1.625em;
  }
  .prizes__item-1 .prizes__item-content {
    mask-image: url("../images/prizes/prize-1-mask.png");
    mask-size: 100% 100%;
    mask-position: 0 0;
  }
}

@media (min-width: 768px) {
  .prizes__item-2 {
    top: 0;
    left: 4.4375em;
  }
  .prizes__item-2::after {
    content: attr(data-title);
    width: 40%;
  }
  .prizes__item-2 .prizes__item-content {
    mask-image: url("../images/prizes/prize-2-mask.png");
    mask-size: 100% 100%;
    mask-position: 0 0;
  }
}

@media (min-width: 768px) {
  .prizes__item-3 {
    top: 0;
    right: 3.6875em;
  }
  .prizes__item-3::after {
    content: attr(data-title);
  }
  .prizes__item-3 .prizes__item-content {
    mask-image: url("../images/prizes/prize-3-mask.png");
    mask-size: 100% 100%;
    mask-position: 0 0;
  }
}

@media (min-width: 768px) {
  .prizes__item-4 {
    left: 8.0625em;
    bottom: -2.85em;
  }
  .prizes__item-4::after {
    content: attr(data-title);
  }
  .prizes__item-4 .prizes__item-content {
    mask-image: url("../images/prizes/prize-4-mask.png");
    mask-size: 100% 100%;
    mask-position: 0 0;
  }
}

@media (min-width: 768px) {
  .prizes__item-5 {
    right: 8.125em;
    bottom: -2.85em;
  }
  .prizes__item-5::after {
    content: attr(data-title);
  }
  .prizes__item-5 .prizes__item-content {
    mask-image: url("../images/prizes/prize-5-mask.png");
    mask-size: 100% 100%;
    mask-position: 0 0;
  }
}

.prizes__item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .prizes__item-content {
    pointer-events: none;
  }
}

.prizes__item-img {
  user-select: none;
}
.prizes__item-img img {
  pointer-events: none;
}

.prizes__item-text {
  position: absolute;
  bottom: 10%;
  transform: translateY(100%);
  text-align: center;
  font-size: 0.75em;
  z-index: 10;
  user-select: none;
}
@media (min-width: 768px) {
  .prizes__item-text {
    display: none;
  }
}

.winners {
  width: 100%;
  background-color: #010420;
  background-image: linear-gradient(180deg, rgba(1, 4, 32, 0) 0%, rgba(1, 4, 32, 0.6) 13.53%, #010420 24.76%);
  padding-bottom: 6.56em;
}
.winners__body {
  position: relative;
  width: 100%;
  width: 97.5625em;
  height: 34.0625em;
  margin: 0 auto;
  padding: 6.1em 4.3em 4.7em;
  aspect-ratio: 1561/545;
}
.winners__body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: image-set(url("../images/winners/frame-winners.webp") 1x type("image/webp"), url("../images/winners/frame-winners@2x.webp") 2x type("image/webp"), url("../images/winners/frame-winners.png") 1x, url("../images/winners/frame-winners@2x.png") 2x);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 4;
}
@media (max-width: 767px) {
  .winners__body {
    width: 100%;
    height: initial;
    padding: 2.8em 1.9em 2.2em;
    aspect-ratio: 370/453;
  }
  .winners__body::before {
    background-image: image-set(url("../images/winners/frame-winners-mob.webp") 1x type("image/webp"), url("../images/winners/frame-winners-mob@2x.webp") 2x type("image/webp"), url("../images/winners/frame-winners-mob.png") 1x, url("../images/winners/frame-winners-mob@2x.png") 2x);
  }
}
.winners--mobile {
  display: none;
}
@media (max-width: 767px) {
  .winners--mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .winners:not(.winners--mobile) {
    display: none;
  }
}

.winners__title {
  font-size: 4.375em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .winners__title {
    word-wrap: wrap;
    font-size: 1.875rem;
    margin-bottom: 2rem;
  }
}

.winners__inner {
  padding: 0 5.25em;
}
@media (max-width: 767px) {
  .winners__inner {
    padding: 0 0.6em;
  }
}

.winners__table {
  position: relative;
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  z-index: 2;
}
.winners__table th, .winners__table td {
  border: 1px solid var(--color-light);
}
.winners__table thead {
  background-color: #010420;
  z-index: 3;
}
.winners__table thead tr {
  height: 4.625em;
}
@media (max-width: 767px) {
  .winners__table thead tr {
    height: 3.44rem;
  }
}
.winners__table thead th {
  text-transform: uppercase;
  font-size: 2.25em;
  padding-inline: 1.4375em;
  text-align: left;
  border-bottom: none;
}
@media (max-width: 767px) {
  .winners__table thead th {
    font-size: 0.875rem;
  }
}
.winners__table tbody {
  position: relative;
  z-index: 2;
}
.winners__table tbody tr {
  height: 3.69em;
}
@media (max-width: 767px) {
  .winners__table tbody tr {
    height: 4.19rem;
  }
}
.winners__table tbody td {
  font-weight: 400;
  font-size: 1.875em;
  padding-inline: 1.4375em;
}
@media (max-width: 767px) {
  .winners__table tbody td {
    font-size: 0.75rem;
  }
}

.winners .swiper-slide {
  background-color: #010420;
  height: initial;
}
.winners .swiper-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, #101B76 111.14%);
  z-index: -2;
}
.winners .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  mask-image: url("../images/hero/pattern.png");
  mask-position: center center;
  mask-size: cover;
  mask-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, var(--color-accent) 111.14%);
  z-index: -1;
}

.winners__navigation {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.88em;
  margin-top: 1.56em;
  z-index: 1;
}

.winners-button-next img {
  transform: scale(-1, 1);
}

.popup {
  position: relative;
  padding: 3.75rem;
  border: 0.1rem solid var(--color-light);
  background-color: var(--color-blue-dark);
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, rgba(16, 27, 118, 0.6) 33.45%, #101B76 111.14%);
  background-size: 100% 500%;
  background-position: 0 0;
  border-radius: 1.88rem;
  width: 90%;
  max-width: 62.375rem;
  margin: 0 auto;
}
.popup::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(16, 27, 118, 0) 0%, rgba(16, 27, 118, 0.6) 33.45%, #101B76 111.14%);
  mask-image: url("../images/hero/pattern.png");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: cover;
}
@media (max-width: 767px) {
  .popup {
    padding: 1.88rem;
    border-radius: 1.25rem;
  }
}
.popup .error_message {
  display: none;
  font-size: 0.875rem;
  padding: 0.5em 0.9rem;
  color: #ff0000;
  background-color: rgba(246, 122, 122, 0.5);
  border-radius: var(--border-radius-small);
  border: 0.1rem solid #ff0000;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}
.popup .error_message.show {
  display: block;
}

.popup__content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.popup__content h3 {
  color: var(--color-light);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.0625rem;
  text-align: center;
  margin: 0 0 0.3em;
}
@media (max-width: 767px) {
  .popup__content h3 {
    font-size: 1.5rem;
  }
}

.popup__content p {
  color: var(--color-light);
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}
@media (max-width: 767px) {
  .popup__content p {
    font-size: 1rem;
  }
}

.popup__content button {
  margin: 0 auto;
  box-shadow: 0 0 1.2rem 0 rgba(99, 255, 42, 0.85);
}

.popup__register {
  max-width: 30.8125rem;
}
.popup__register h3 {
  margin-bottom: 2rem;
}

.popup__hints {
  max-width: 87.5rem;
  background-color: var(--color-blue-dark);
  background-image: linear-gradient(90deg, #101B76 0%, rgba(16, 27, 118, 0.6) 10.45%, rgba(16, 27, 118, 0) 90%);
  background-size: 40% 100%;
  background-position: -10% 0;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .popup__hints {
    background-image: linear-gradient(0deg, #101B76 0%, rgba(16, 27, 118, 0.6) 10.45%, rgba(16, 27, 118, 0) 90%);
    background-size: 100% 40%;
    background-position: 0% 110%;
  }
}

.popup__hints-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3.75rem;
  z-index: 2;
}
@media (max-width: 767px) {
  .popup__hints-content {
    flex-direction: column;
    gap: 1.25rem;
  }
}

.popup__hints-video {
  width: 21.5rem;
  height: 21.5rem;
  max-width: 21.5rem;
  max-height: 21.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}
.popup__hints-video video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 767px) {
  .popup__hints-video {
    width: 18.125rem;
    height: 18.125rem;
  }
}

.popup__hints-title {
  color: var(--color-light);
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .popup__hints-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.popup__hints-text {
  color: var(--color-light);
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
}
@media (max-width: 767px) {
  .popup__hints-text {
    font-size: 1rem;
  }
}

.cross-button {
  position: relative;
  border-radius: var(--border-radius-small);
  padding: 0;
  background-color: transparent;
  border: none;
  width: 3.125em;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-accent-alt);
  background-color: var(--color-accent);
  transition: background-color var(--transition-duration);
  cursor: pointer;
  box-shadow: 0 0 22px rgba(109, 196, 255, 0.85);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent-alt);
  }
}
:where(.cross-button:not(:has(> img)))::before, :where(.cross-button:not(:has(> img)))::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.15rem;
  width: 90%;
  height: 0.2rem;
  background-color: var(--color-light);
  border-radius: 5px;
}
:where(.cross-button:not(:has(> img)))::before {
  transform: rotate(45deg);
}
:where(.cross-button:not(:has(> img)))::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .cross-button {
    width: 2.5em;
    aspect-ratio: 1;
  }
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  position: absolute;
  right: 0;
  top: -4.5rem;
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .mobile-overlay__close-button-wrapper {
    top: -3.2rem;
  }
}
.mobile-overlay__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
